extends layout

block content
    section.container
        if !currentUser
            h3 Hope this website helps you, Stay Safe.
            br
            div 
                em Already a volunteer? 
                    a(href='/login') Login 
            div 
                em Want to become a volunteer? 
                    a(href='/sign-up') Sign Up 
        if currentUser 
            h1.user-name Hello, #{currentUser.name}!
            h5 Got any new leads?
            a(href='/post/new-post')
                button.btn.btn-outline-primary.btn-lg.new-post 
                    span.material-icons-outlined create
                    span.create-text Post new lead
    section.container.post-container
        if posts
            h2.post-heading All Leads:
            form(method="POST" action="") 
                div.input-group
                    select.form-select#helptype(name='helptype')
                        option(value='') All help
                        for help in helpType   
                            option(value=help.type
                            selected=(selHelp ? (selHelp === help.type ? true : false) : false)
                            )=help.type
                    span.input-group-text in
                    select.form-select#location(name='location')
                        option(value='') All locations
                        for location in locations   
                            option(value=location.cityName
                            selected=(selLoc ? (selLoc === location.cityName ? true : false) : false)
                            )=location.cityName 
                    button.btn.btn-primary.filter-btn(type='submit') Filter
            br
            for post in posts 
                a.col(href=post.url) 
                    article.posts.card
                        h4.card-title #{post.helpType.type} in #{post.location.cityName}
                        div= post.postedDay
        else 
            h3 No Posts Available :(