extends layout

block content
    section.container
        if !currentUser
            h1.user-name Welcome to Covid App(working on name)
            h4
                a(href='/login') Login 
                | or 
                a(href='/sign-up') Sign Up 
        if currentUser 
            h1.user-name Hello, #{currentUser.name}!
    section.container.post-container
        if posts
            h2 All Leads:
            form(method="POST" action="") 
                div.input-group
                    select.form-select#helptype(name='helptype')
                        option(value='') All help
                        for help in helpType   
                            option(value=help.type
                            selected=(selHelp ? (selHelp === help.type ? true : false) : false)
                            )=help.type
                    span.input-group-text in
                    select.form-select#location(name='location')
                        option(value='') All locations
                        for location in locations   
                            option(value=location.cityName
                            selected=(selLoc ? (selLoc === location.cityName ? true : false) : false)
                            )=location.cityName 
                    button.btn.btn-primary.filter-btn(type='submit') Filter
            br
            for post in posts 
                a.col(href=post.url) 
                    article.posts.card
                        h4.card-title #{post.helpType.type} in #{post.location.cityName}
                        div= post.postedDay
        else 
            h3 No Posts Available :(