extends layout 
block content 
    section.container.login-form    
        h1=head
        form.form-control(method='POST' action='')
            label(for='phone') Phone Number:
            input.input-group.mb-3#phone(type='tel' name='phone' minlength=10 maxlength=10 required='true' value=(post? post.phone : ''))
            label(for='location') Location:
            select.form-select.mb-3#location(name='location' required='true')
                for location in locations   
                    option(value=location._id selected=(post ? (location.cityName === post.location.cityName ? true : false) : false))=location.cityName 
            label(for='helptype') Help Type:
            select.form-select.mb-3#helptype(name='helptype' required='true')
                for help in helpType   
                    option(value=help._id selected=(post ? (help.type === post.helpType.type ? true : false) : false))=help.type
            label(for='description') Description
                if !post
                    textarea#description(name="description", cols="22", rows="5" placeholder='provide more details here..' maxlength=250)
                else 
                    textarea#description(name="description", cols="22", rows="5" placeholder='provide more details here..' maxlength=250)=post.description
            if !post
                button.btn.btn-primary(type='submit') Post
            else 
                button.btn.btn-primary(type='submit') Save Edits
        section.error-display
            if errors
                div.alert.alert-danger
                    for error in errors
                        div= error.msg
            if phoneErr
                    div.alert.alert-danger Phone already exists in 
                        a(href=phoneErr) this post