extends layout 
block content 
    h1 Post Form
    form(method='POST' action='')
        label(for='phone') Phone Number:
        br
        input#phone(type='tel' name='phone' minlength=10 maxlength=10 required='true' value=(post? post.phone : ''))
        br
        br
        label(for='location') Location:
        br
        select#location(name='location' required='true')
            for location in locations   
                option(value=location._id selected=(post ? (location.cityName === post.location.cityName ? true : false) : false))=location.cityName 
        br
        br
        label(for='helptype') Help Type:
        br
        select#helptype(name='helptype' required='true')
            for help in helpType   
                option(value=help._id selected=(post ? (help.type === post.helpType.type ? true : false) : false))=help.type
        br
        br
        label(for='description') Description:
        br
        if !post
            textarea#description(name="description", cols="30", rows="10" placeholder='provide details here..' maxlength=250)
        else 
            textarea#description(name="description", cols="30", rows="10" placeholder='provide details here..' maxlength=250)=post.description
        br
        br
        if !post
            button(type='submit') Post
        else 
            button(type='submit') Save Edits
    if errors
        ul
        for error in errors
            li!= error.msg
    if phoneErr
            li Phone already exists in 
                a(href=phoneErr) this post