extends layout

block content
    section.container
        h1.user-name  #{user.name}
        if currentUser
            div.contact-group.card
                div.card-body
                    -if(String(currentUser._id) === String(user._id)) 
                        h2.card-title My Details:
                    -else
                        h2.card-title Contact Me:
                    h4 Phone: #{user.phone}
                    h4 Email: #{user.email}
                    -if(String(currentUser._id) === String(user._id)) 
                        a(href='/user/edit/'+user._id) Edit details
                        br
                        a(href='/user/change-password/'+user._id) Change Password
    section.container.post-container
        h2.post-heading Leads Shared:
        if currentUser
            -if(String(currentUser._id) === String(user._id))
                a(href='/post/new-post')
                    button.btn.btn-outline-primary.btn-lg.new-post 
                        span.material-icons-outlined create
                        span.create-text Post new lead
        if posts
           for post in posts 
                a.col(href=post.url) 
                    article.posts.card
                        h4.card-title #{post.helpType.type} in #{post.location.cityName}
                        div= post.postedDay
        else 
            h3 No Posts Available :(